@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  --color-brand-1: hsl(192, 100%, 9%);
  --color-brand-2: hsl(207, 100%, 98%);
  --color-brand-3: hsl(0, 100%, 63%);

  --color-site-1: hsl(322, 100%, 66%);
  --color-site-2: hsl(321, 100%, 78%);

  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

footer {
  background: url("../assets/bg-footer-top-mobile.svg"),
    linear-gradient(transparent 6rem, var(--color-brand-1) 6rem);
  background-position: top left, center;
  background-size: 100% 6rem, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  padding: 10rem 2rem 1rem;
}

.NewsletterBox-Title {
  color: var(--color-brand-2);
  font-size: 2rem;
  font-family: var(--font-heading);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.NewsletterBox-Para {
  font-size: 1.6rem;
  font-family: var(--font-body);
  color: var(--color-brand-2);
  margin-bottom: 4rem;
}

label {
  display: block;
  position: relative;
  width: 100%;
}

.NewsletterBox-Input {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--color-brand-1);
  margin-bottom: 1rem;
}

.error {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  color: var(--color-brand-3);
  font-size: 1.6rem;
  font-family: var(--font-body);
}

.NewsletterBox-Btn {
  display: block;
  background-color: var(--color-site-1);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--color-brand-2);
  text-transform: capitalize;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}

.NewsletterBox-Btn:hover {
  background-color: var(--color-site-2);
}

.AddressBox {
  padding: 4rem 0;
}

.FooterLogo {
  display: block;
  width: 14rem;
  margin-bottom: 3rem;
}

.FooterLogo > img {
  width: 100%;
  filter: invert(100%) sepia(12%) saturate(2%) hue-rotate(173deg)
    brightness(109%) contrast(101%);
}

.AddressBox-Para {
  font-size: 1.6rem;
  color: var(--color-brand-2);
  font-family: var(--font-body);
  margin-bottom: 2rem;
}

address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

address > img {
  width: 2rem;
}

address > p {
  color: var(--color-brand-2);
  font-size: 1.6rem;
  font-style: normal;
  font-family: var(--font-body);
}

.AddressBox-SocialIcons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin: 3rem 0;
}

.socialIcon {
  color: var(--color-brand-2);
  font-size: 3.5rem;
  transition: all 0.2s ease-in-out;
}

.socialIcon:hover {
  color: hsl(191, 98%, 40%);
}

@media screen and (min-width: 768px) {
  footer {
    background: url("../assets/bg-footer-top-desktop.svg"),
      linear-gradient(transparent 6rem, var(--color-brand-1) 6rem);
    background-position: top left, center;
    background-size: 100% 6rem, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    padding: 10rem 5rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    flex-direction: row-reverse;
  }

  .NewsletterBox {
    padding: 4rem 0;
  }

  .NewsletterBox > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
  }
}
